@tailwind base;
@tailwind components;
@tailwind utilities;


.PF-menu {
	@apply h-screen flex flex-col justify-center items-center gap-5 relative;
}

.PF-menu::after {
	content: "";
	background-image: url("static_images/image_geometry_menu_1.png"), 
					  url("static_images/image_geometry_menu_2.png");
	background-position: left top, bottom left;
	background-size: 80%, contain;
	background-repeat: no-repeat;
	opacity: 0.5;
	top:  0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
  	z-index: -1;  
}

.menu-close-icon {
	@apply absolute top-6 right-6
}



