@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Menu styles */
.PF-menu-container {
	@apply bg-white md:bg-transparent absolute top-0 left-0 w-full h-fit md:flex md:justify-end;
}
.menu-humburger-icon {
	@apply absolute top-6 right-6 hidden
	md:hidden;
}

.menu-mobile {
	@apply h-screen flex flex-col justify-center items-center gap-5 relative hidden;
}

.menu-mobile-hidden {
	@apply hidden
}

.menu-desktop {
	@apply h-16 flex flex-row justify-center items-center gap-14 w-8/12 text-xl;
}

.humburgerIcon-hidden {
	@apply hidden
}

.closeIcon-hidden {
	@apply hidden
}

.menu-items-hidden {
	@apply hidden
}

.closeIcon-hidden {
	@apply hidden
}
.menu-close-icon {
	@apply absolute top-6 right-6
	md:hidden;
}

/* Banner styles */
.banner {
	@apply flex flex-col md:p-0 h-screen hidden
	md:flex-row;
}
.profilePic {
	@apply hidden md:flex md:items-center relative
	md:w-4/12 
}

.profilePic img {
	@apply w-7/12 absolute -left-36 hidden
}

.CTA-container {
	@apply h-screen bg-tartiary flex justify-center items-center md:w-8/12 shadow-md
}

.CTA {
	@apply flex flex-col p-6 pt-32 gap-8 md:h-fit md:w-1/2;
	md:gap-8
}


.header {
	@apply text-6xl md:text-8xl;
}

.tag-line {
	@apply text-xl md:text-2xl;
}

.PF-button-primary {
	@apply bg-primary text-white p-3 font-thin text-xl hover:bg-secondary
	md:w-2/3 ;
}

.social-icons {
	@apply flex gap-5;
}

.social-icons a {
	@apply hover:stroke-secondary;
}

.social-icons img {
	@apply w-6 h-6;
}

.social-icons img:hover {
	filter: invert(50%) sepia(26%) saturate(1547%) hue-rotate(308deg) brightness(87%) contrast(105%);
}


/* Projects section */
.projects-section {
	@apply bg-gray10 py-20 flex flex-col gap-10 px-5 items-center
}
.projects-section-header {
	@apply font-roboto text-gray01 text-3xl font-bold tracking-widest relative
}

.projects-section-header::after {
	@apply bg-primary5;
	content: "";
	position: absolute;
	left: 50%;
	bottom: -20px;
	width: 30%;
	height: 0.25rem;
	transform: translate(-50%);
}

.project-card {
	@apply bg-white flex flex-col gap-5
}

.project-tags {
	@apply flex gap-1 flex-wrap
}

.project-tags li {
	@apply bg-gray09 py-1 px-3 rounded uppercase font-light text-sm text-gray05
}

.project-info {
	@apply flex flex-col gap-5 px-5
}

.project-num {
	@apply text-primary5 text-xl
}

.project-name {
	@apply text-gray01 text-3xl
}

.project-decription {
	@apply text-gray01 font-opensans text-gray03 tracking-wider
}











